// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  //variables
  $title1: 29px;
  $pd: 40px;
  $pdb: (40-16) + px;

  //global
  .banner_wrapper button {
    padding: 18px 35px;
  }
  //global end

  //<!--header start-->
  header {
    ul {
      margin-top: 20px;

      li {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-left: auto !important;
      }
    }
  }
  //<!--header end-->

  //<!--banner start-->

  .banner_wrapper {
    h1 {
      font-size: 39px;
    }
  }

  //<!--banner end-->

  //<!--design1 start-->
  .design1 {
    padding-top: $pd;
  }

  .design1_wrapper {
    h1 {
      font-size: $title1;
    }
  }

  .design1_wrapper2 {
    margin-top: 50px;
  }

  //<!--design1 end-->

  //<!--responsive start-->
  .responsive {
    padding: $pd 0;
  }

  .responsive_wrapper1 {
    text-align: center;

    h1 {
      font-size: $title1;
    }

    p {
      margin-top: 40px;
    }

    button {
      margin-top: 20px;
    }
  }

  //<!--responsive end-->

  //<!--design2 start-->
  .design2 {
    padding: $pd 0;
  }

  .design2_wrapper1 {
    h1 {
      font-size: $title1;
    }

    p {
      margin-top: 35px;
    }

    ul {
      margin-top: 100px;

      li {
        margin: 0 20px;
      }
    }
  }

  .design2_wrapper2 {
    p {
      padding: 10px 20px 20px 20px;
    }
  }

  //<!--design2 end-->

  //<!--numbers start-->
  .numbers {
    padding-top: $pd;
    padding-bottom: $pdb;
  }

  .numbers_wrapper {
    h1 {
      font-size: $title1;
      margin-top: 15px;
    }
  }

  //<!--numbers end-->

  //<!--team start-->
  .team {
    padding: $pd 0;
  }

  .team_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }

  //<!--team end-->

  //<!--quote start-->
  .quote {
    padding: $pd 0;
  }
  //<!--quote end-->

  //<!--subscribe start-->
  .subscribe {
    padding: $pd 0;
  }
  .subscribe_wrapper {
    h6 {
      font-size: 18px;
    }

    button {
      padding: 11px 41px;
    }
  }
  //<!--subscribe end-->

  //<!--site start-->
  .site {
    padding: $pd 0;
    text-align: center;
  }
  .site_wrapper {
    h4 {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  //<!--site end-->

  //<!--modern start-->
  .modern {
    padding: $pdb 0;
    position: static;
    text-align: center;
  }

  .modern_wrapper {
    img {
      position: static;
    }

    //<!--modern end-->
  }

  //<!--clients start-->
  .clients {
    padding: $pd 0;
  }
  //<!--clients end-->

  //<!--contact start-->
  .contact {
    padding: $pd 0;
  }

  .contact_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }

  .contact_wrapper2 {
    margin-top: 30px;

    textarea {
      height: 200px;
    }
  }

  //<!--contact end-->

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  //variables
  $title1: 33px;
  $pd: 50px;
  $pdb: (50-16) + px;

  //global
  .banner_wrapper button {
    padding: 18px 35px;
  }
  //global end

  //<!--header start-->
  header {
    ul {
      margin-top: 20px;

      li {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-left: auto !important;
      }
    }
  }
  //<!--header end-->

  //<!--banner start-->

  .banner_wrapper {
    h1 {
      font-size: 48px;
    }
  }

  //<!--banner end-->

  //<!--design1 start-->
  .design1 {
    padding-top: $pd;
  }

  .design1_wrapper {
    h1 {
      font-size: $title1;
    }
  }

  .design1_wrapper2 {
    margin-top: 50px;
  }

  //<!--design1 end-->

  //<!--responsive start-->
  .responsive {
    padding: $pd 0;
  }

  .responsive_wrapper1 {
    text-align: center;

    h1 {
      font-size: $title1;
    }

    p {
      margin-top: 40px;
    }

    button {
      margin-top: 20px;
    }
  }

  //<!--responsive end-->

  //<!--design2 start-->
  .design2 {
    padding: $pd 0;
  }

  .design2_wrapper1 {
    h1 {
      font-size: $title1;
    }

    p {
      margin-top: 35px;
    }

    ul {
      margin-top: 100px;

      li {
        margin: 0 20px;
      }
    }
  }

  .design2_wrapper2 {
    p {
      padding: 10px 20px 20px 20px;
    }
  }

  //<!--design2 end-->

  //<!--numbers start-->
  .numbers {
    padding-top: $pd;
    padding-bottom: $pdb;
  }

  .numbers_wrapper {
    h1 {
      font-size: $title1;
      margin-top: 15px;
    }
  }

  //<!--numbers end-->

  //<!--team start-->
  .team {
    padding: $pd 0;
  }

  .team_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }

  //<!--team end-->

  //<!--quote start-->
  .quote {
    padding: $pd 0;
  }
  //<!--quote end-->

  //<!--subscribe start-->
  .subscribe {
    padding: $pd 0;
  }
  //<!--subscribe end-->

  //<!--site start-->
  .site {
    padding: $pd 0;
  }
  .site_wrapper {
    img {
      margin-top: 80px;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  //<!--site end-->

  //<!--modern start-->
  .modern {
    padding: $pdb 0;
  }

  .modern_wrapper {
    img {
      top: 110px;
    }
  }

  //<!--modern end-->

  //<!--clients start-->
  .clients {
    padding-top: 120px;
    padding-bottom: $pd;
  }
  //<!--clients end-->

  //<!--contact start-->
  .contact {
    padding: $pd 0;
  }

  .contact_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }

  .contact_wrapper2 {
    margin-top: 40px;

    textarea {
      height: 200px;
    }
  }

  //<!--contact end-->

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  //variables
  $title1: 33px;
  $pd: 60px;
  $pdb: (60-16) + px;

  //<!--header start-->
  header {
    ul {
      margin-top: 20px;

      li {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-left: auto !important;
      }
    }
  }
  //<!--header end-->

  //<!--design1 start-->
  .design1 {
    padding-top: $pd;
  }

  .design1_wrapper {
    h1 {
      font-size: $title1;
    }
  }

  .design1_wrapper2 {
    margin-top: 70px;
  }

  //<!--design1 end-->

  //<!--responsive start-->
  .responsive {
    padding: $pd 0;
  }

  .responsive_wrapper1 {
    h1 {
      font-size: $title1;
      margin-top: 30px;
    }

    p {
      margin-top: 40px;
    }

    button {
      margin-top: 20px;
    }
  }

  //<!--responsive end-->

  //<!--design2 start-->
  .design2 {
    padding: $pd 0;
  }

  .design2_wrapper1 {
    h1 {
      font-size: $title1;
    }

    p {
      margin-top: 35px;
    }

    ul {
      margin-top: 100px;

      li {
        margin: 0 20px;
      }
    }
  }

  //<!--design2 end-->

  //<!--numbers start-->
  .numbers {
    padding-top: $pd;
    padding-bottom: $pdb;
  }

  .numbers_wrapper {
    h1 {
      font-size: $title1;
    }
  }

  //<!--numbers end-->

  //<!--team start-->
  .team {
    padding: $pd 0;
  }

  .team_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }

  .team_wrapper2 {
    margin-top: 15px;

    h6 {
      //font-size: 20px;
      padding: 15px 0 0 0;
    }

    p {
      font-size: 13px;
      padding: 12px 14px 13px 14px;
      margin-bottom: 0;
    }
  }

  //<!--team end-->

  //<!--quote start-->
  .quote {
    padding: $pd 0;
  }
  //<!--quote end-->

  //<!--subscribe start-->
  .subscribe {
    padding: $pd 0;
  }
  //<!--subscribe end-->

  //<!--quote start-->
  .quote {
    padding: $pd 0;
  }
  //<!--quote end-->

  //<!--subscribe start-->
  .subscribe {
    padding: $pd 0;
  }
  //<!--subscribe end-->

  //<!--site start-->
  .site {
    padding: $pd 0;
  }
  .site_wrapper {
    img {
      margin-top: 80px;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  //<!--site end-->

  //<!--modern start-->
  .modern {
    padding: $pd 0;
  }

  .modern_wrapper {
    img {
      top: 90px;
    }
  }

  //<!--modern end-->

  //<!--clients start-->
  .clients {
    padding-top: 120px;
    padding-bottom: $pd;
  }
  //<!--clients end-->

  //<!--contact start-->
  .contact {
    padding: $pd 0;
  }

  .contact_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }
  .contact_wrapper2 {
    margin-top: 50px;

    textarea {
      height: 110px;
    }
  }

  .contact_wrapper3 {
    button {
      font-size: 13px;
    }
  }
  //<!--contact end-->

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  //variables
  $title1: 39px;
  $pd: 70px;
  $pdb: (70-16) + px;

  //<!--design1 start-->
  .design1 {
    padding-top: $pd;
  }

  .design1_wrapper {
    h1 {
      font-size: $title1;
    }
  }

  .design1_wrapper2 {
    margin-top: 80px;
  }
  //<!--design1 end-->

  //<!--responsive start-->
  .responsive {
    padding: $pd 0;
  }

  .responsive_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }

  //<!--responsive end-->

  //<!--design2 start-->
  .design2 {
    padding: $pd 0;
  }

  .design2_wrapper1 {
    h1 {
      font-size: $title1;
    }

    p {
      margin-top: 35px;
    }

    ul {
      margin-top: 100px;

      li {
        margin: 0 50px;
      }
    }
  }

  //<!--design2 end-->

  //<!--team start-->
  .team {
    padding: $pd 0;
  }

  .team_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }
  //<!--team end-->

  //<!--quote start-->
  .quote {
    padding: $pd 0;
  }
  //<!--quote end-->

  //<!--subscribe start-->
  .subscribe {
    padding: $pd 0;
  }
  //<!--subscribe end-->

  //<!--site start-->
  .site {
    padding: $pd 0;
  }
  .site_wrapper {
    img {
      margin-top: 10px;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  //<!--site end-->

  //<!--modern start-->
  .modern {
    padding: $pd 0;
  }
  //<!--modern end-->

  //<!--clients start-->
  .clients {
    padding-top: 120px;
    padding-bottom: $pd;
  }
  //<!--clients end-->

  //<!--contact start-->
  .contact {
    padding: $pd 0;
  }

  .contact_wrapper1 {
    h1 {
      font-size: $title1;
    }
  }
  //<!--contact end-->

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  //variables
  $title1: 40px;
  $pd: 80px;
  $pdb: (80-16) + px;
}
