@import "variables";
//global rules start

* {
  font-family: "Roboto", sans-serif;
}

.banner_wrapper button,
.service_wrapper button,
.responsive_wrapper1 button {
  border-radius: 9px;
  border: none;
  padding: 18px 45px;
  font-size: 15px;
  color: #ffffff;
}

//global rules end

//<!--header start-->
header {
  padding: 10px 0;

  ul {
    li {
      padding: 0 10px;
      margin: 0 10px;
      border-radius: 9px;

      &:hover {
        background: $bgc1 !important;
      }

      a {
        font-size: 15px;
        color: #3f4244;
        text-transform: uppercase;
      }
    }
  }
}

//<!--header end-->

//<!--banner start-->
.banner {
  padding-top: 180px;
  padding-bottom: 190px;
  background: $bgc1;
}

.banner_wrapper {
  h1 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 300;
  }

  button {
    background: $bgc2;
    margin-top: 50px;
  }
}

//<!--banner end-->

//<!--service start-->
.service {
  padding: $pd 0;
}

.service_wrapper {
  text-align: center;

  img {
    margin-top: 20px;
  }

  h6 {
    font-size: 15px;
    color: #3f4244;
    margin-top: 25px;
  }

  p {
    font-size: 13px;
    color: #929ba0;
    margin-top: 50px;
  }

  button {
    background: $bgc2;
    margin-top: 50px;
  }
}

//<!--service end-->

//<!--design1 start-->
.design1 {
  padding-top: $pd;
  background: $bgc2;
}

.design1_wrapper {
  h1 {
    font-size: $title1;
    color: #ffffff;
  }

  p {
    font-size: $title2;
    color: #ffffff;
    font-weight: 300;
    margin-top: 40px;
  }
}

.design1_wrapper2 {
  margin-top: 100px;
}

//<!--design1 end-->

//<!--responsive start-->
.responsive {
  padding: $pd 0;
}

.responsive_wrapper1 {
  img {
  }

  h1 {
    color: #3f4244;
    margin-top: 70px;
  }

  p {
    font-size: 15px;
    color: #929ba0;
    font-weight: 300;
    margin-top: 50px;
  }

  button {
    background: $bgc2;
    margin-top: 30px;
  }
}

//<!--responsive end-->

//<!--design2 start-->
.design2 {
  padding: $pd 0;
  background: $bgc1;
}

.design2_wrapper1 {
  h1 {
    font-size: $title1;
    color: #ffffff;
  }

  p {
    font-size: $title2;
    color: white;
    font-weight: 300;
    margin-top: 35px;
  }

  ul {
    margin-top: 100px;

    li {
      margin: 0 60px;

      a {
        text-transform: uppercase;
        font-size: 13px;
        color: #3f4244;
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.design2_wrapper2 {
  background-color: white;

  h6 {
    padding: 25px 10px 10px 10px;
  }

  p {
    padding: 10px 50px 20px 50px;
  }
}

.design2_wrapper3 {
  margin-top: 50px;
}

//<!--design2 end-->

//<!--numbers start-->
.numbers {
  padding-top: $pd;
  padding-bottom: $pdb;
  background-color: $bgc3;
}

.numbers_wrapper {
  h1 {
    margin-top: 25px;
    font-size: $title1;
    color: white;
  }

  p {
    margin-top: 5px;
    font-size: 13px;
    color: #10cab7;
  }
}

//<!--numbers end-->

//<!--team start-->
.team {
  padding: $pd 0;
}

.team_wrapper1 {
  h1 {
    font-size: $title1;
    color: #3f4244;
  }

  p {
    font-size: $title2;
    color: #929ba0;
    font-weight: 300;
  }
}

.team_wrapper2 {
  background: $bgc1;
  margin-top: 15px;

  h6 {
    font-size: 20px;
    color: #3f4244;
    padding: 20px 0 0 0;
  }

  span {
    font-size: 13px;
    color: white;
  }

  p {
    font-size: 15px;
    color: #3f4244;
    padding: 17px 14px 28px 14px;
    margin-bottom: 0;
  }
}

//<!--team end-->

//<!--quote start-->
.quote {
  padding: $pd 0;
  background: $bgc2;
}

.quote_wrapper {
  img {
  }

  h6 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
  }

  p {
    font-size: $title2;
    color: white;
    margin-bottom: 40px;
  }
}

//<!--quote end-->

//<!--subscribe start-->
.subscribe {
  padding: $pd 0;
  background-color: $bgc3;
}

.subscribe_wrapper {
  h6 {
    font-size: 20px;
    color: white;
  }

  button {
    margin-top: 40px;
    border: 2px solid #6dffc6;
    background: none;
    padding: 15px 48px;
    font-size: $title2;
    color: white;
  }
}

//<!--subscribe end-->

//<!--site start-->
.site {
  padding: $pd 0;
}

.site_wrapper {
  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #3f4244;
  }

  p {
    font-size: 13px;
    color: #929ba0;
  }
}

//<!--site end-->

//<!--modern start-->
.modern {
  padding: $pd 0;
  background: $bgc1;
}

.modern_wrapper {
  position: relative;

  img {
    position: absolute;
    top: -50px;
  }

  h5 {
    margin-top: 90px;
    font-size: 25px;
    color: #ffffff;
  }

  h6 {
    font-size: 15px;
    color: #243638;
    margin-bottom: 20px;
  }

  p {
    font-size: 13px;
    color: #ffffff;
  }
}

//<!--modern end-->

//<!--clients start-->
.clients {
  padding-top: 120px;
  padding-bottom: $pd;
}

.clients_wrapper1 {
  h1 {
    font-size: $title1;
    color: #3f4244;
  }

  p {
    font-size: $title2;
    color: #929ba0;
    font-weight: 300;
  }
}

.clients_wrapper2 {
  padding: 40px 30px;
  margin-top: 40px;
  background: $bgc1;

  h5 {
    font-size: 20px;
    color: #ffffff;
  }

  h6 {
    font-size: 13px;
    color: #243638;
    margin-bottom: 30px;
  }

  p {
    font-size: 13px;
    color: #ffffff;
  }
}

//<!--clients end-->

//<!--contact start-->
.contact {
  padding: $pd 0;
  background: $bgc2;
}

.contact_wrapper1 {
  h1 {
    font-size: $title1;
    color: #ffffff;
  }

  p {
    font-size: 13px;
    color: #ffffff;
    font-weight: 300;
  }
}

.contact_wrapper2 {
  margin-top: 80px;

  input {
    background: none;
    border: 1px solid white;
    padding: 11px 0 11px 20px;
    margin-top: 20px;

    &::placeholder {
      font-size: 15px;
      color: #ffffff;
    }
  }

  textarea {
    background: none;
    border: 1px solid white;
    padding: 11px 0 11px 20px;
    height: 50px;
    margin-top: 20px;

    &::placeholder {
      font-size: 15px;
      color: #ffffff;
    }
  }

}

.contact_wrapper3 {
  margin-top: 50px;

  button {
    background-color: #313638;
    border: none;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 0;
  }
}

//<!--contact end-->

//<!--footer start-->
footer {
  padding-top: 30px;
  padding-bottom: (30-16)+px;
  background-color: #2A383A;
}

.footer_wrapper{
  p{
    font-size: 15px;
    color: #ffffff;
    span{
      color: #10cab7;
    }
  }
}

//<!--footer end-->
